@model Group

@{ ViewData["Title"] = "Удаление"; }

<h1>Удаление группы</h1>

<h3>Вы действительно хотите удалить (все участники удалятся)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscribersCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscribersCount)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
